*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    height: 151px;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: #4E47FF;
  font-style: normal; 
  font-weight: 900;
  font-size: 34px;
 
}

nav button{
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    width: 132px;
    height: 48px;
    border: none;
   
} 
header{
    background-image: url(../Assets/Hero-bg.png);
    max-width: 1440px;
    height: 698px;
    margin: 0 auto;
}

.raleway-sans {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 65px;
  font-style: normal;
  text-align: center;
}
.btn{
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    width: 178px;
    height: 48px;
    display: block;
    margin: 0 auto;
    margin-top: 37px;
    border: none;
}
.banner{
    display: flex;
    justify-content: center;
}
.banner-section{
    margin-top: 158px;
}
/* main section start here */
main{
    max-width: 1140px;
    /* height: 328px; */
    margin: 0 auto; 
    margin-top: 116px;  
}
.action-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-size: 42px;
    text-align: left;
}
.subtitle{
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    margin-top: 23px;
    color: #00000080;
}
.main-btn{
     color: #FFFFFF;
    background-color: #4E47FF;
    width: 229px;
    height: 48px;
    border-radius: 10px;
    border: none;
    margin-top: 23px;
}
main div img{
    border-radius: 48px;
}
.full-section{
    background-color: #4d47ff1e;
    max-width: 1140px;
    height: 306px;
    text-align: center;
    margin-top: 116px;
    border-radius: 24px;
}
.center-title{
    font-size: 38px;
    font-weight: bold;
    padding-top: 50px;
}
.about-items{
    display: flex;
    justify-content: center;
    gap: 158px;

}
.item-title{
    font-size: 80px;
    font-weight: bold;
    margin-top: 40px;
}
.item-description{
    font-size: 20px;
    font-weight: bold;
    color: #00000080;
}
.full-section{
    width: 1140px;
    height: 342px;

}
.fback{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-top: 137px;
}
.feedback{
    border: 2px solid rgba(128, 128, 128, 0.164);
    padding: 24px;
    border-radius: 14px;
}
.love{
    font-size: 1.25em;
    font-weight: 600;
    color: black;
    margin-top: 24px;
}
.level{
    font-size: 16px;
    font-weight: 400;
    color: #00000080;
    margin-top: 8px;
}
.feedback-section{
    padding: 24px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 50px;
}
.skills{
    display:flex ;
    margin-top: 24px;
}
.skill-item{
    margin-left: 6px;
}
.date{
    font-size: 16px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.315);
}
.optional{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 208px;
}
.optional-paragraph{
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
}
.optional-button{
   color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    width: 195px;
    height: 48px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border: none;
}
.optional-img{
    display: block;
    margin: 0 auto;
    width: 840px;
    height: 364.77px;
    border-radius: 48px;
    margin-top: 20px;
}
.form-head{
    display:flex ;
    justify-content:center;
    align-items: center;
    margin-top: 92.23px;
    gap: 115px;
}
.h-center{
    font-size: 97px;
    font-weight: bold;
    text-align: left;
}
input{
    width: 497px;
    height: 70px;
}
.h-form{
    text-align: right;
    margin-right: 115px;
}
.radius{
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    padding-left: 32px;
    margin-top: 10px;
    margin-bottom: 19px;
}
.f-button {
    font-size: 16px;
    font-weight: bold;
    width: 538px;
    height: 72px;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    margin-bottom: 71px;

}
.inter{
    font-size: 18px;
    font-weight: 500;
    color: black;
}
textarea{
    padding-top: 20px;
}
.last-section{
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    width: 1440px;
    height: 428px;
}
div ul{
    display: flex;
    justify-content: center;
}
div li{
    list-style: none;
    margin-right: 48px;
    margin-top: 20px;
}
div li a{
    text-decoration: none;
    color: #8987A1;
    font-size: 1.25em;
}
.f-logo{
    font-size: 100px;
    margin-top: 104px;
    margin-bottom: 8px;
}
button:hover{
    color: #8987A1;
}