*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    height: 151px;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: #4E47FF;
  font-style: normal; 
  font-weight: 900;
  font-size: 34px;
 
}

nav button{
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    width: 132px;
    height: 48px;
    border: none;
   
} 
header{
    background-image: url(../Assets/Hero-bg.png);
    max-width: 1440px;
    height: 698px;
    margin: 0 auto;
}

.raleway-sans {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 65px;
  font-style: normal;
  text-align: center;
}
.btn{
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    width: 178px;
    height: 48px;
    display: block;
    margin: 0 auto;
    margin-top: 37px;
    border: none;
}
.banner{
    display: flex;
    justify-content: center;
}
.banner-section{
    margin-top: 158px;
}
/* main section start here */
main{
    max-width: 1140px;
    height: 328px;
    margin: 0 auto; 
    margin-top: 116px;  
}
.action-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-size: 42px;
    text-align: left;
}
.subtitle{
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    margin-top: 23px;
}
.main-btn{
     color: #FFFFFF;
    background-color: #4E47FF;
    width: 229px;
    height: 48px;
    border-radius: 10px;
    border: none;
    margin-top: 23px;
}
main div img{
    border-radius: 48px;
}